* {
    font-family: 'Lato';

}
#recipe-result {
    background-color: whitesmoke;
    
}
#cocktail-result {
    background-color: whitesmoke;
    
}

#selection-screen {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#selection-wrapper {
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#drink-selection {
    flex-wrap: wrap;
}

#modifiers {
    background-color: white;
    max-height: 15vh;
    overflow: auto;
    border-radius: 5px;
    border: 1px solid lightgrey;


}